.post-container {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-heading h1 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}

.post-detail {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.post-image img {
  width: 50px;
  border-radius: 50%;
}

.post-card {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.post-user {
  display: flex;
  gap: 0.5rem;
}

.name {
  color: #fff;
  font-weight: 500;
}

.tag,
.time {
  color: gray;
}

.post-text {
    color: #fff;
    font-weight: 300;
}

.post-reaction {
    display: flex;
    gap: 1rem;
}

.icon {
    color: #fff;
}

.like,
.comment {
    display: flex;
    align-items: center;
}

.like span,
.comment span {
    color: gray;
    margin-left: .5rem;
}